{% extends "base.html" %}

{% block title %}
LiveJam - Search Videos
{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-8">
			<h1> Hi you're on LiveJam </h1>
			<p><a href="/signup"> Register for Livejam </a></p>
			{% if user %}
			<p><a href="/logout">Logout</a></p>
			{% else %}
			<p><a href="/login">Login</a></p>
			{% endif %}
			<p>
				<input type="text" id="video-search">
				<button id="search-button">Search</button>
			</p>
			
			<div class="video-list">
			</div>
		</div>
		<div class="col-md-4">
			<p> Your Playlist</p>
			<div id="playlist"></div>
		</div>
	</div>
</div>
{% endblock %}

